.animate-squish {
  animation: squish 300ms ease-in-out;
  animation-iteration-count: 1; /* Set to 1 to play the animation only once */
}
@keyframes squish {
  50% {
    transform: scale(1.4, 0.6);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
